{% extends 'base.html' %}

{% block title %}
    {{ post.page }}
{% endblock %}

{% block header %}
<div align="center">
    <h1 class="heading"><a href="../">Pruthvi<span class="desai"> Desai </span></a></h1>
    <h4><a href="../dreamer">Dreamer.</a> <a href="../creator">Creator.</a> <a href="../momentographer">Momentographer.</a></h4>
</div>
{% endblock %}

{% block page %}
<h4 class="blog_title">
    <a href="../happenings">
        Happenings
    </a>
</h4>
{% endblock %}

{% block content %}
    <div class="post_body" align="center">
        {% for post in posts %}
            <h2 class="post">
                <a href="{{post.get_absolute_url}}">
                    {{post.title}}
                    <div id="post_date">
                        {{post.created|date}}
                    </div>
                </a>
            </h2>
    {% endfor %}
    </div>
{% endblock %}
