{% extends 'base.html' %}

{% block title %}
    {{ dreamer.page }} :: Pruthvi Desai
{% endblock %}

{% block header %}
<div align="center">
    <h1 class="heading"><a href="../">Pruthvi<span class="desai"> Desai </span></a></h1>
    <h4><a class="current" href="../dreamer">Dreamer.</a> <a href="../creator">Creator.</a> <a href="../momentographer">Momentographer.</a></h4>
</div>
{% endblock %}

{% block content %}
<article>
    <div class="dreamer">
	<p>
	        {{ dreamer.content|safe }}
	</p>
    </div>
</article>
{% endblock %}
