@charset "utf-8";
/* Index Page CSS */
* {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

html {
	background-color: white;
}

body {
	min-width: 50%;
	max-width: 100%;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

h1 {
	font-family: "Lato", Arial, sans-serif;
	font-weight: 300;
	font-size: 300%;
	color: black;
	margin: 20% 0 0 0;
}

h1 a {
	text-decoration: none;
	color: black;
     }

h1 a:hover, a:active, a:focus, a:onlick {
	text-deocration: none;
	color: black;
     }

h4 {
	font-family: "Lato", Arial, sans-serif;
	font-weight: 100;
	font-size: 150%;
	color: black;
	position: relative;
}

h4 a {
	text-decoration: none;
	color: black;
     }

h4 a:hover, a:active, a:focus {
	text-deocration: none;
	color: black;
	font-weight: 300;
     }

nav {
	margin: 20px 0 0 0;
	padding: 10px 0 0 0;
	min-width: 60%;
	position: relative;
	height: 40px;
    }

nav ul {
	display: inline;
    }

nav ul a {
	color: silver;
	border: silver 1px solid;
	margin: 50px 5px 5px 5px;
	padding: 5px 20px 5px 20px;
	text-decoration: none;
	font-size: 125%;
	font-family: "Lato", Arial, sans-serif;

      }

nav ul a:hover, a:active, a:focus {
	border: black 1px solid;
	color: black;
      }

/* Classes */
.heading {
	font-weight: 100;
}

.desai {
	font-weight: 500;
}

.secondary {
}