@charset "utf-8";
/* Index Page CSS */
* {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

html {
	background-color: white;
}

body {
	min-width: 50%;
	max-width: 100%;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

h1 {
	font-family: "Lato", Arial, sans-serif;
	font-weight: 300;
	font-size: 300%;
	color: black;
	margin: 10px 0 0 0;
}

h1 a {
	text-decoration: none;
	color: black;
     }

h1 a:hover, a:active, a:focus {
	text-deocration: none;
	color: black;
     }

h4 {
	font-family: "Lato", Arial, sans-serif;
	font-weight: 100;
	font-size: 150%;
	color: black;
	position: relative;
}

h4 a {
	text-decoration: none;
	color: black;
	font-weight: 100;
     }

h4 a:hover, a:active, a:focus {
	text-decoration: none;
	color: black;
	font-weight: 300;
}

p {
	margin: 30px 25%;
	padding: 5px 5px;
	float: left;
	font-family: "Lato", Arial, sans-serif;
	font-weight: 300;
	font-size: 100%;
	color: black;
	position: relative;
}

/* About */
about_p {
	font-family: "Lato", Arial, sans-serif;
	font-weight: 300;
	font-size: 100%;
	color: black;
	position: relative;
}
	
/* Classes */

/* Dreamer */
.dreamer {
    padding: 20px 0;
}

/* Creator */
.creator {
    margin: 10px 0 15px 0;
    padding-bottom: 10px;
	font-family: "Lato", Arial, sans-serif;
	font-weight: 300;
	color: black;
}

/* Momentographer */
.momentographer_content {
    padding-bottom: 50px;
    font-family: "Lato", Arial, sans-serif;
	font-weight: 300;
	font-size: 100%;
	color: black;
}

/* Heading */
.heading {
	font-weight: 100;
}

.desai {
	font-weight: 500;
}

.current {
	font-weight: 300;
}

.blog {
	margin-top: 5px;
	font-weight: 300;
	font-size: 170%;
}
.blog_body {
	margin: 40px 0 10px 0;
	padding: 10px 10px;
	width: 55%;
}

.head {
    font-weight: 100;
    margin-top: 10px;
    padding: 0 10px 0 10px;
    float: left;
}

/* Login Page */
.login_page {
	margin: 150px 0 0 0;
}

.login {
	margin: 10px 0 0 0;
	font-family: "Lato", Arial, sans-serif;
	font-weight: 300;
	font-size: 100%;
	color: black;
	position: relative;	
}
.input {
	width: 250px;
	height: 25px;
	border: 1px solid black;
	border-radius: 2px;
}

/* Happenings */
.post_body {
    margin-top: 50px;
}
.post {
    margin-top: 20px;
    padding: 0;
}
.post a {
    font-family: "Lato", Arial, sans-serif;
    font-weight: 300;
    text-decoration: none;
    color: black;
}
.post a:hover{
    font-weight: 400;
}

.blog_title a {
    margin-top: 5px;
	font-weight: 300;
	font-size: 120%;
}
.blog_title a:hover {
    font-weight: 400;
}

.date {
	font-weight: 300;
	margin-top: 10px;
	padding: 0 10px 0 10px;
	float: left;
}
.blog_content {
    padding-bottom: 30px;
    font-family: "Lato", Arial, sans-serif;
	font-weight: 300;
	font-size: 100%;
	color: black;
}
.blog_slug {
    margin: 0;
    padding-bottom: 5px;
    font-weight: 300;
    font-size: 175%;
}

/* IDs */

#submit {
	width: 100px;
	height: 25px;
	font-family: "Lato", Arial, sans-serif;
	font-weight: 300;
	font-size: 90%;
	border: 1px solid black;
	border-radius: 3px;
	background-color: white;
}

/* just width being 100% makes it fit in the page beautifully */
#momentographer_image {
    width: 100%;
    border: 1px solid black;
}

#photo_cap {
	position: relative;
	padding-bottom: 20px;
}

#photo_cap h4{
	font-family: "Lato", Arial, sans-serif;
	font-weight: 300;
	font-size: 125%;
	color: black;
}

/* Happenings */
#post_date {
    font-weight: 300;
}

#happenings_image {
	width: 100%;
    padding: 20px 0;
}
